body {
  font-size: 12px;
}
.vertical-center {
  min-height: 20vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#banner {
  background-color: black;
  width: 100vw;
  height: 95vh;
}
div {
  border: 1px solid blue;
}span {
  border: 1px solid red;
}li {
  border: 1px solid green;
}
.icons {
  width: 50px;
  height: auto;
}
li {
  list-style: none;
  display: inline-block;
}
.all-projects-container{

}.project-container {

}.project-description-container {

}
.project-picture-container {
}.project-picture {
  width: 200px;
  height: 200px;
}
.left {
  float: left;
}.right {
  float: right;
}

@media only screen and (max-device-width: 480px)  {
	body {
		font-size: 36px;
		padding: 5px;
	}
  .project-container {
    height: 30vh;
    width: 100% !important;
  }
}
