<div>
  <div ng-if="$index % 2 === 1" class="col-sm-2"></div>
  <div class="row" ng-class-odd="'left'" ng-class-even="'right'">
    <div class="col-sm-7 vertical-center" ng-if="$index % 2 === 0">
      <img class="col-sm-12 image-responsive" ng-class-odd="'left'" ng-class-even="'right'" ng-src="{{ project.picture }}" alt="">
    </div>
    <div class="col-sm-5">
      <div class="col-sm-6">
        <h2 class="name project-links"><a href="{{project.link}}">{{ project.name }}</a></h2>
        <div class="github project-links"><a href="{{project.github}}">GitHub</a></div>
        <p class="description" ng-bind-html="project.description"></p>
      </div>
      <div class="col-sm-6">
        <div class="technology-container">
          <ul class="technology-list">
            <li class="technology" ng-repeat="technology in project.technologies">
              <img class="icons" ng-src="{{ badgeIcon[technology] }}" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-7 vertical-center" ng-if="$index % 2 === 1">
      <img class="col-sm-12 image-responsive" ng-class-odd="'left'" ng-class-even="'right'" ng-src="{{ project.picture }}" alt="">
    </div>
  </div>
  <div class="col-sm-2" ng-if="$index % 2 === 0"></div>
</div>
