<div class="project-container" ng-class-odd="'left'" ng-class-even="'right'">
  <div class="project-picture-container">
    <img class="project-picture" ng-class-odd="'left'" ng-class-even="'right'" src="{{ project.picture }}" alt="">
  </div>
  <div class="project-description-container">
    <div class="name"><a href="{{project.link}}">{{ project.name }}</a></div>
    <div class="github"><a href="{{project.github}}">GitHub</a></div>
    <div class="description">{{ project.description }}</div>
    <div class="technology-container">
      <ul class="technology-list">
        <li class="technology" ng-repeat="technology in project.technologies">
          {{ technology }}{{$last ? '' : ', '}}
        </li>
      </ul>
    </div>
  </div>
</div>
